@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #522ffe;
  --card: #ffffff;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #522ffe;
  --card: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .card-shadow {
    @apply shadow-[0_3px_10px_rgb(0,0,0,0.2)];
  }

  .circle-icon {
    @apply flex items-center justify-center 
      rounded-full w-11 h-11 md:w-14 md:h-14 
      bg-[#f4ebff] bg-opacity-10 absolute;
  }

  .highlight {
    @apply bg-primary text-white px-5 rounded-[4px];
  }

  .section-contents {
    @apply w-full flex flex-col items-center gap-10 md:gap-[50px];
  }

  .card {
    @apply bg-card rounded-lg card-shadow;
  }

  .contact-button {
    @apply p-1.5 rounded-md card-shadow flex items-center justify-center w-8 h-8;
  }

  .glowing-border-wrapper {
    position: relative;
    display: inline-block; /* Ensures the container wraps tightly around the image */
    padding: 6px; /* Adjust padding to make space for the glow */
    border-radius: 50%; /* Ensures the border follows a circular shape */
  }

  .glowing-border-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 4px; /* Space for glow */
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff);
    background-size: 300% 300%;
    -webkit-mask: linear-gradient(white, white) content-box,
      linear-gradient(white, white);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: borderAnimation 6s ease-in-out infinite;
  }

  @keyframes borderAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
